.background {
    background-image: url('../../assets/images/background.jpg');
    //background-repeat:repeat;
    background-position: center center;  

    height: 100vh;
    padding-top: 2.1875rem;
}