.container {
    color: red;
    font-size: 1.875rem;

    margin-bottom: 1.25rem;
    text-align: center;

    button {
        width: 15%;
        margin: 5% 42%;
    }

    img {
        width: 20%;
        margin-top: 1.25rem;
    }
}