//$blue: #3caed6;

.header {
    width: 80vw;
    min-width: 500px;
    height: 10vh;
    display: flex;
    background-color: var(--primary-color);

    .slider {
        display: flex;
        justify-content: center;
        align-items: center;

        margin-right: 1.5rem;
    }

    .user {
        display: flex;
        justify-content: space-between;
        align-items: center;

        position: relative;

        //min-width: ;
        margin-left: 58.5vw;
        margin-right: 20px;
        cursor: pointer;

        .userIcon {
            img {
                display: flex;
                align-items: center;
                //margin-left: rem;
                width: 2.5rem;
                border-radius: 50%;
            }
        }

        .userName {
            min-width: 7rem;
            margin: 0 0.7rem;
            font-weight: bold;

            user-select: none;
        }

        .checkList {
            display: none;

            ul {
                list-style-type: none;

                li {
                    background-color: var(--background-color);
                    padding: 0.8rem;

                    .iconHeader {
                        margin-right: 1rem;
                    }
                }

                li:hover {
                    background-color: var(--grey);
                    color: var(--blue);
                }
            }
        }

        .showList {
            display: block;

            position: absolute;
            top: 3rem;
            right: 1.5rem;

            
        }
    }



}